<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.nightscout.android">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Android 9 (API level 28) or higher and use foreground services must request the FOREGROUND_SERVICE permission -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- allow to disable battery optimization -->
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".UploaderApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".medtronic.MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:icon="@drawable/ic_launcher"
            android:label="Settings"
            android:theme="@style/SettingsTheme" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".medtronic.ManageCNLActivity"/>

        <activity android:name=".medtronic.StatusActivity" />

        <activity
            android:name=".medtronic.UsbActivity"
            android:icon="@drawable/ic_launcher"
            android:theme = "@android:style/Theme.Translucent"
            android:taskAffinity=""
            android:label="@string/app_name">
            <intent-filter android:icon="@drawable/ic_launcher">
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <activity
            android:name=".AutoStartActivity"
            android:icon="@drawable/ic_launcher"
            android:theme = "@android:style/Theme.Translucent"
            android:taskAffinity=""
            android:label="@string/app_name">
        </activity>

        <service
            android:name=".upload.nightscout.NightscoutUploadService"
            android:icon="@drawable/ic_launcher"
            android:stopWithTask="false"
            />
        <service
            android:name=".xdrip_plus.XDripPlusUploadService"
            android:icon="@drawable/ic_launcher"
            android:stopWithTask="false"
            />
        <service
            android:name=".pushover.PushoverUploadService"
            android:icon="@drawable/ic_launcher"
            android:stopWithTask="false"
            />
        <service
            android:name=".urchin.UrchinService"
            android:icon="@drawable/ic_launcher"
            android:stopWithTask="false"
            />
        <service
            android:name=".medtronic.service.MedtronicCnlService"
            android:stopWithTask="false"
            android:process=":cnl"
            />
        <service
            android:name=".medtronic.service.MasterService"
            android:icon="@drawable/ic_launcher"
            android:stopWithTask="false"
            />

        <receiver android:name=".AutoStartReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver android:name=".medtronic.service.MedtronicCnlShutdownReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
            </intent-filter>
        </receiver>

    </application>

</manifest>